/* 
    Author     : Julie Abraham
*/

@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

@media (min-width: 48em) {
    .nav-brand {float: left;}
    .nav-main {float: right;}
}

main {padding: 0 12vw;}

@media screen and (max-width: 48em) {
    main {padding: 0 0;}
}

html, body {
    height: 100%;
    color: #333;
    font-family: 'Amatic SC', fantasy;
    font-size: 1.25em;
    background-color: #fcf7fc;
}

a, a:hover {
    color: inherit;
}

embed {
    border: none;
}

footer {
    font-size: .7em;
}

h1, h2, h3 {
    color: #660066;
}

img {
    max-width: 100%;
}

.nav-link + .nav-link {
    margin-left: 1rem;
}


.active {
    text-shadow: 2px 2px 10px #660066;
    color: #fff;
    border-bottom-color: #fff;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    padding: .75rem 1.25rem;
    font-weight: 700;    
    color: #fff;
    background-color: #660066;
    box-shadow: 0 0 0.3em 0.2em white inset;
    border-width: 0;
}
.btn-primary:hover {
    opacity: 0.7;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    padding: .75rem 1.25rem;
    font-weight: 700;    
    color: #fff;
    box-shadow: 0 0 0.3em 0.2em white inset;
    border-width: 0;
}
.btn-secondary:hover {
    opacity: 0.7;
}

.card-title {
    font-weight: 1000;
}

.jumbotron, .jumbotron h1 {
    color: #fff;
    background: #660066;
}

.nav-link, .nav-link:hover  {
    padding: .25rem 0;
    font-weight: 700;
    color: #660066;
    border-bottom: .25rem solid transparent;
    cursor: pointer;
}

.nav-link:hover {
    border-bottom-color: #660066;
    text-shadow: 2px 2px 10px #660066;

}