/* 
    Author     : Julie Abraham
*/

@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

@media (min-width: 48em) {
    .nav-brand {float: left;}
    .nav-main {float: right;}
}

:root {
    --jla-dark: #660066;
    --jla-light: #fcf7fc;
}

html, body {
    height: 100%;
    background-color: var(--jla-light);
    font-family: 'Amatic SC', fantasy;
    font-size: 1.25em;
}

a, a:hover {
    color: inherit;
}

h1, h2, h3, h4, h5 {
    color: var(--jla-dark);
}

.text-body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
    text-align: justify;
}

.text-body a {
    color: blue;
}

/*Bootstrap classes*/

.active {
    text-shadow: 2px 2px 10px var(--jla-dark);
    color: #fff;
    border-bottom-color: #fff;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    padding: .75rem 1.25rem;
    font-weight: 700;    
    color: #fff;
    background-color: var(--jla-dark);
    box-shadow: 0 0 0.3em 0.2em white inset;
    border-width: 0;
}
.btn-primary:hover {
    cursor: pointer;
    opacity: 0.7;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    padding: .75rem 1.25rem;
    font-weight: 700;    
    color: #fff;
    box-shadow: 0 0 0.3em 0.2em white inset;
    border-width: 0;
}
.btn-secondary:hover {
    cursor: pointer;
    opacity: 0.7;
}

.jumbotron, .jumbotron h1 {
    color: #fff;
    background: var(--jla-dark);
}

.nav-link, .nav-link:hover  {
    cursor: pointer;
}

.nav-link:not(.active) {
    color: var(--jla-dark);
}

.nav-link:hover {
    text-shadow: 2px 2px 10px var(--jla-dark);
}

